a {
  color: white !important;
}
.navbar {
  --bs-navbar-padding-x: 1rem !important;
}
.ml-auto {
  width: 100%;
  justify-content: end;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.dropdown-menu a {
  color: #000 !important;
}
.dropdown-menu .dropdown-logout:hover {
  background-color: white;
}
