/* .nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
/* li a:hover {
  background-color: #111;
} */

/* .footer {
  position: fixed;
  bottom: 0;
  max-width: 300px;
  text-align: center;
  background-color: azure;

  display: flex;
  justify-content: center;
  align-items: center;
  max-width: '300px';
  margin-left: 'auto';
  margin-right: 'auto';
  background-color: '#2f2e2e';
  margin-top: '-5%';
}
*/
footer {
  position: fixed;
  bottom: 0;
  right: 0;
  justify-content: right;
}

.react-chatbot-kit-chat-container {
  width: 300px;
  background-color: white;
}

.react-chatbot-kit-chat-btn-send {
  background-color: rgb(54 106 125) !important;
}

.react-chatbot-kit-chat-header {
  color: white;
  background-color: rgb(54 106 125) !important;
}

/* .react-chatbot-kit-chat-inner-container {
}



.react-chatbot-kit-chat-btn-send-icon {
}

.react-chatbot-kit-chat-header {
  background-color: lightblue;
}

.react-chatbot-kit-chat-input-container {
}

.react-chatbot-kit-chat-message-container {
}

.react-chatbot-kit-chat-input {
}

.react-chatbot-kit-chat-input-form {
}

.react-chatbot-kit-chat-input::placeholder {
}



.react-chatbot-kit-chat-bot-message-container {
}

.react-chatbot-kit-chat-bot-avatar-container {
}

.react-chatbot-kit-chat-bot-avatar-icon {
}

.react-chatbot-kit-chat-bot-avatar-letter {
}

.react-chatbot-kit-chat-bot-message {
}

.react-chatbot-kit-chat-bot-message-arrow {
}

.react-chatbot-kit-chat-bot-loading-icon-container {
}

.chatbot-loader-container {
}

#chatbot-loader #chatbot-loader-dot1 {
}

#chatbot-loader #chatbot-loader-dot2 {
}

#chatbot-loader #chatbot-loader-dot3 {
}

.react-chatbot-kit-error {
}

.react-chatbot-kit-error-container {
}

.react-chatbot-kit-error-header {
}

.react-chatbot-kit-error-docs {
} */
