footer {
  position: fixed;
  bottom: 0;
  right: 0;
  justify-content: right;
}

.react-chatbot-kit-chat-container {
  width: 300px;
  background-color: white;
}

.react-chatbot-kit-chat-btn-send {
  background-color: rgb(54 106 125) !important;
}

.react-chatbot-kit-chat-header {
  color: white;
  background-color: rgb(54 106 125) !important;
}
